#home_topo {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(249, 219, 121);
}

.limitar_sessao_topo {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao_topo {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.links {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.links:hover {
    color: rgb(189, 143, 27);
}

.logo {
    width: 100px;
    height: auto;
}


@media (max-width: 820px) {
    .limitar_sessao_topo {
        flex-direction: column;
        padding: 20px;
    }

    .links {
        font-size: 25px;
    }
}



@media (max-width: 540px) {  
    .links {
        font-size: 20px;
    }

    .navegacao_topo {
        width: 80%;
        justify-content: space-between;
    }
}